.letter {
  border-radius: 50% !important;
    height: 30px;
    width: 30px;
}

.tag {
  padding: 1px 5px;
  border-radius: 10px;
    font-size: 10pt;
}

.tag.tag-sm {
  font-size: 8pt;
}

.tag.tag-sm.tag-view i {
  display: none;
}

.selected-tags {
  border: 1px solid #eee;
  border-radius: 10px;
}

.table{
    font-size: 11pt!important;
}

.table .btn{
    font-size: 9pt !important;
}

